//颜色定义规范
$color-theme = #16d6a7
$color-menu = #d9fff5
$color-menu-active = #ffffff
$color-community-background = #eeeeee

//字体定义规范
$font-size-small-s = 9px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px